/* .menu-item:hover {
    background-color: #B22222 !important;
  } */

.menu-item.active {
  background-color: #b22222 !important;
}

.centered-logo {
  text-align: center;
  padding: 20px 0;
}

.table {
  text-align: left;
}

.divider-line {
  width: 1px;
  height: 90%;
  background-color: #000;
  margin: 0 10px;
}

.no-left-margin {
  margin-left: 0;
}

.error {
  color: #ff0000;
}

.image-container-contractor {
  display: flex;
  justify-content: center;
}
.contractor-image {
  border-radius: 11.9px;
  background: #b6b6b6;
  text-align: center;
  padding: 2rem 1rem;
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #393939;
  text-align: center;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.4px;
  text-transform: uppercase;
}

.contractor-name {
  color: #0f0f0f;
  font-family: Poppins;
  padding-top: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 138.889% */
  text-transform: capitalize;
  font-size: 1rem;
}
.contractorid {
  font-size: 10px;
}
.contractor-count-group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.user-card-heading {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.user-email-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}
.user-email-details-property,
.user-email-details-data {
  display: grid;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.user-email-details-property span,
.user-email-details-data span {
  padding-top: 8px;
}
.user-email-details-data {
  justify-content: end;
}
.contractor-grid-button {
  position: relative;
  top: 20.7px;
}
.option-container {
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 0.375rem;
  background: #fff;
  position: absolute;
  right: 5px;
}

.option-container span:hover {
  background: #ccc;
  cursor: pointer;
}

.contractor-reset-password {
  display: flex;
}
.contractor-reset-password .contractor-name {
  flex: 1;
  position: relative;
  bottom: 1.5rem;
}

.bg-blue {
  background: #2b59c3;
  color: #fff;
}
.filter-button,
.filter-button:hover {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
}

.filter-popup-container {
  border-radius: 8px;
  border: 1px solid #99a7bf;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  padding: 1rem;
  z-index: 9;
  left: 18rem;
}
.filter-popup-container .filter-heading {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.filter-popup-container .filter-fields {
  display: flex;
  grid-gap: 10px;
  padding: 10px 0;
}

.Processing-btn {
  border-radius: 4px;
  background: rgba(31, 134, 255, 0.2);
  color: #1f86ff;
}
.Rejected-btn {
  border-radius: 4px;
  background: rgba(235, 28, 28, 0.2);
  color: #eb1c1c;
}
.Accepted-btn {
  border-radius: 4px;
  background: rgba(24, 183, 88, 0.2);
  color: #18b758;
}

.search-group {
  display: flex;
  margin-right: 10px;
  border-radius: 5px !important;
}
.search-group input {
  border: none;
  flex: 1;
}
.search-group svg {
  position: relative;
  top: 4px;
}

.custom-input {
  display: flex;
  align-items: center;
}

.custom-input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  /* width: 200px; */
}

.custom-input svg {
  margin-left: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.filter-popup-container .react-datepicker-wrapper {
  border: 1px solid #ccc;
  width: 100%;
  display: flex;
  border-radius: 0.5rem;
  color: #6e6e6e;
  margin: 10px 0;
}
.filter-popup-container .react-datepicker-wrapper input {
  flex: 1;
  border: none;
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  right: -400px; /* Start with the menu hidden to the right */
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  color: #0000;
  transition: right 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.off-canvas-menu.open {
  right: 0; /* Slide in the menu when it's open */
}

/* .menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001;
} */

.card-footer .form-check-input:checked,
.update-promotion-container .form-check-input:checked {
  background-color: #2b59c3;
  border-color: #2b59c3;
}
.card-footer .form-check-input:checked,
.update-promotion-container .form-check-input:checked {
  background-color: #2b59c3 !important;
  border-color: #2b59c3 !important;
}


